.catalog {
  .no-list;

  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.catalog__item {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 317px;
    min-height: 659px;
    margin-right: 48px;
    margin-bottom: 55px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
