.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__head {
  margin: 0;

  font-size: 19px;
  font-weight: bold;
  line-height: 18/19;
  color: @black-two;

  transform: translateY(-5px);
}

.copyright__logo {
  fill: @seafoam-blue;

  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
    fill: #46c1ae;
  }
}
