.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__head {
  margin: 0;
  margin-bottom: 11px;

 font-size: 19px;
 font-weight: bold;
 line-height: 18/19;
 color: @black-two;
}
