.data__label {
  display: block;
  padding-left: 2px;
  padding-right: 2px;

  @media (min-width: @tablet-width) {
    display: inline;
    margin: 0;
    margin-right: 25px;
    padding: 0;
  }
}

.data__block-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: auto;
  }
}
