.links {
  .no-list;

  width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;

    padding: 0 50px;
    margin: 0;
    min-height: 119px;
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.links__item {
  transform: translate(0, 5px);
  transition: transform 0.2s ease;

  &--interior {
    background-color: @seafoam-blue;
  }

  &--toys {
    background-color: @greeny-blue;
  }

  &--interior:hover,
  &--interior:focus {
    background-color: #59d5bc;
  }

  &--toys:hover,
  &--toys:focus {
    background-color: #46c1ae;
  }

  &:hover,
  &:focus {
    transform: translate(0, 0);
  }

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.links__link {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 26px;
  padding-left: 28px;
  padding-right: 180px;
  min-height: 108px;
  box-sizing: border-box;

  font-size: 19px;
  color: #ffffff;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  text-decoration: none;



  &--interior {
    background: url("../img/icon-interior.svg") no-repeat 88% 50%;
  }

  &--toys {
    background: url("../img/icon-toy.svg") no-repeat 90% 50%;
  }



  &:active {
    opacity: 0.3;
  }



  @media (min-width: @tablet-width) {
    min-height: 125px;
    padding-right: 170px;
    padding-left: 38px;

    font-size: 20px;
    line-height: 30px;

    &--interior {
      background-position: 257px 29px;
    }

    &--toys {
      background-position: 241px 30px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 35px;
    padding-right: 320px;

    font-size: 20px;
    line-height: 30px;

    &--interior {
      background-position: 447px 29px;
    }

    &--toys {
      background-position: 430px 31px;
    }
  }
}

.links__icon {
  display: block;
  margin-left: auto;
}
