.multitype {
  margin-bottom: 0;
}

.multitype__legend {
  margin-bottom: 35px;
}

.multitype__wrapper {
  display: block;

  margin-bottom: 40px;
}

.multitype__item {
	position: relative;
  margin-left: 64px;
  margin-right: 40px;
	cursor: pointer;
}

.multitype__item:before {
	content: '';
	position: absolute;
	top: -8px;
	left: -62px;
	width: 37px;
	height: 36px;

	border: 2px solid rgb(68, 68, 68);
}

.multitype__item:after {
	content: '';
	position: absolute;
	top: 4px;
	left: -54px;
	width: 24px;
	height: 17px;

	background: url("../img/icon-tick.svg") no-repeat 0 0;
  background-size: contain;
	opacity: 0;
	transition: .2s;
}

.multitype__checkbox:checked + .multitype__item:after {
	opacity: 1;
}

@media (min-width: @tablet-width) {
  .multitype__block-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .multitype__wrapper {
    width: 260px;
  }
}
