.multitype {
  justify-content: space-between;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    padding-top: 67px;
    padding-bottom: 10px;
  }
}

.multitype__legend {
  margin-right: 200px;
  margin-bottom: 35px;
}

.multitype__wrapper {
  display: block;

  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: 200px;
    margin-bottom: 54px;
  }
}

.multitype__item {
  position: relative;
  margin-left: 64px;
  margin-right: 40px;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: auto;
  }
}

.multitype__item:before {
  content: '';
  position: absolute;
  top: -8px;
  left: -62px;
  width: 37px;
  height: 36px;

  border: 2px solid rgb(68, 68, 68);
}

.multitype__item:after {
  content: '';
  position: absolute;
  top: 4px;
  left: -54px;
  width: 24px;
  height: 17px;

  background: url("../img/icon-tick.svg") no-repeat 0 0;
  background-size: contain;
  opacity: 0;
  transition: .2s;
}

.multitype__checkbox:checked + .multitype__item:after {
  opacity: 1;
}

.multitype__block-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
