.odds {
  font-weight: bold;
  color: black;
}

.odds__title {
  font-size: 25px;
  line-height: 1.2;
}

.odds__item {
  .no-list;

  font-size: 17px;
  line-height: 1.8;
}

.odds__icon {
  display: block;
}
