.odds {
  margin-bottom: 17px;

  font-weight: bold;
  color: black;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 22px;
  }
}

.odds__container {
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 670px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 700px;
  }
}

.odds__title {
  margin: 0;
  margin-bottom: 41px;

  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -5px;
    margin-bottom: 60px;

    font-size: 53px;
    line-height: 57px;
  }
}

.odds__list {
  .no-list;

  display: flex;
  flex-direction: column;
  margin-top: 30px;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    font-size: 20px;
    line-height: 22px;
  }
}

.odds__item {
  margin-bottom: 30px;
  min-height: 93px;

  @media (max-width: calc(@tablet-width - 1px)) {
    &--flower {
      order: 1;
    }

    &--money {
      order: 2;
    }

    &--heart {
      order: 3;
    }

    &--ball {
      order: 4;
    }

    &--rocket {
      order: 5;
    }

    &--gift {
      order: 6;
    }
  }


  @media (min-width: @tablet-width) {
    min-height: 125px;
    width: 300px;
    margin-right: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 50px;
  }
}

.odds__icon {
  min-height: 40px;

  fill: @seafoam-blue;

  &--flower {
    transform: translate(9px, -12px);
  }

  &--money {
    transform: translate(1px, -16px);
  }

  &--heart {
    transform: translate(8px, -10px);
  }

  &--ball {
    transform: translate(4px, -10px);
  }

  &--rocket {
    transform: translate(-5px, -15px);
  }

  &--gift {
    transform: translate(4px, -12px);
  }
}

.odds__text {
  margin: 0;
  width: 250px;

  &--new-line {
    display: block;
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    width: auto;
  }
}
