.page-header {
  width: 320px;
  margin: 0 auto;

  border-top: 1px solid @white-four;
  border-bottom: 1px solid @white-four;
}

.page-header__logo {
  position: relative;
  display: block;

  width: 100%;
  min-height: 79px;

  background: url("../img/logo-mobile.svg") no-repeat 50% 50%;
}

.page-header__shipment {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
}

/*.page-header__site-list {
  display: none;
}

.page-header__user-list {
  display: none;
}*/

@media (max-width: @tablet-width) {
  .page-header__logo::after {
    content: "";
    position: absolute;
    z-index: 1;

    display: block;
    width: 80px;
    height: 79px;
    right: 0;
    top: 0;

    background: url("../img/icon-menu-open.svg") no-repeat 50% 50%;
  }

  .page-header__shipment {
    .visually-hidden();

    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: @greyish-brown;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: calc(@tablet-width - 100px);
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid @white-four;
    border-bottom: 1px solid @white-four;

  }

  .page-header__logo {
    order: 1;

    min-height: 88px;
    width: 120px;

    background: url("../img/logo-tablet.svg") no-repeat 0 50%;
    outline: 1px solid green;
  }

  .page-header__site-list {
    order: 3;

    outline: 1px solid green;
  }

  .page-header__user-list {
    order: 2;
    display: flex;

    width: 350px;
    min-height: 88px;

    outline: 1px solid green;
  }

  .page-header__shipment {
    order: 4;

    margin: 0;
    margin-top: 17px;

    outline: 1px solid green;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    justify-content: space-between;
    align-items: flex-start;

    width: calc(@desktop-width - 100px);
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid @white-four;
    border-bottom: 1px solid @white-four;

  }

  .page-header__logo {
    order: 2;

    width: 185px;

    background: url("../img/logo-desktop.svg") no-repeat 0 50%;
    outline: 1px solid green;
  }

  .page-header__site-list {
    order: 1;
    min-height: 88px;
    outline: 1px solid green;
  }

  .page-header__user-list {
    order: 3;
    display: flex;

    width: 350px;
    min-height: 88px;

    outline: 1px solid green;
  }

  .page-header__shipment {
    order: 4;

    margin: 0;
    margin-top: 17px;

    outline: 1px solid green;
  }
}
