.page-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;

  font-size: 26.5px;
  line-height: 1.11;
  text-align: center;
  color: @very-dark-brown;
}

.page-wrapper {
  width: 100vw;

  background-color: rgb(250, 250, 250);
  background-image: url("~/source/img/hero-mobile.png");
}
