.page-footer {
  padding-left: 30px;
  padding-right: 30px;

  background-color: transparent /*@white-two*/;
}

.page-footer__socials {
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 53px;
  padding-right: 57px;

  border-bottom: 1px solid lightgrey;
}

.page-footer__copyright {
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 37px;
  padding-right: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-left: 313px;
    padding-right: 50px;
    padding-top: 58px;
    padding-bottom: 46px;

    background: url("../img/logo-footer.svg") no-repeat 50px 50px;
    background-origin: border-box;
  }

  .page-footer__socials {
    padding: 0;
    width: 142px;
    border: none;

  }

  .page-footer__copyright {
    padding: 0;
    width: 183px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 502px;
  }
}
