.production__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: @black-two;
}

.production__text {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  color: @greyish-brown;
}

.production__button {
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  letter-spacing: normal;
  color: @greyish-brown;
}
