.properties__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;

  border-bottom: 1px solid @white-four;
}

.properties__name {
  width: 71px;
  margin: 0;
  margin-right: 25px;
}

.properties__col {
  margin: 0;
  flex-grow: 1;
}
