.reviews__title {
 font-size: 25px;
 font-weight: bold;
 line-height: 1.2;
 color: black;
}

.reviews__text {
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  color: @greyish-brown;
}

.review__author {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: black;

  &--inst {
    font-weight: normal;
    line-height: 30px;
    color: @greyish-brown;
  }
}

.reviews__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: @greyish-brown;
}
