.site-list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 425px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 30px;
  }
}

.site-list__item {
  .no-list;

  min-height: 80px;
  box-sizing: border-box;
  padding-left: 75px;
  padding-top: 26px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: black;

  border-bottom: 1px solid @white-four;


  @media (max-width: @not-desktop-width) {
    &--desktop-only {
      .visually-hidden();
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 38px;
    margin-bottom: 20px;
    padding: 0;
    min-height: auto;

    font-size: 15px;

    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: 70px;
    margin-bottom: 51px;

    font-size: 17px;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(n+3) {
      margin-right: 60px;
      margin-bottom: 20px;
    }

    &--desktop-only {
      font-size: 15px;
      line-height: 24px;
    }
  }
}

.site-list__link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @black-60;
    outline: none;
  }

  &:active {
    color: @black-30;
    outline: none;
  }
}
