.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  .no-list;

  min-height: 80px;
  box-sizing: border-box;
  padding-left: 75px;
  padding-top: 26px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: black;

  border-bottom: 1px solid @white-four;
}

.site-list__link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 425px;


  }

  .site-list__item {
    margin-top: 18px;
    margin-right: 37px;
    padding: 0;
    min-height: auto;

    font-size: 15px;
  }
}
