.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  margin: 0;
}

.socials__item {
  .no-list;

  margin: 0 5px;
}

.socials__link {
  width: 30px;
  height: 30px;

  color: inherit;

  &:hover .socials__icon,
  &:focus .socials__icon {
    path {
      fill: #46c1ae;
    }
  }

  &:active .socials__icon {
    opacity: 0.3;

    path {
      fill: #46c1ae;
    }
  }
}


@media (min-width: @tablet-width) {
  .socials__item {
    margin: 0;
  }
}
