.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
}

.socials__item {
  .no-list;

  margin: 0 20px;
}

.socials__icon {
  fill: #231f20;
}

.socials__link {
  width: 30px;
  height: 30px;

  color: inherit;

  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: #46c1ae;
  }

  &:active .socials__icon {
    opacity: 0.3;
    fill: #46c1ae;
  }
}
