.type {
  margin-bottom: 24px;
}

.type__legend {
  margin-bottom: 33px;
}

.type__wrapper {
  display: block;

  margin-bottom: 17px;
}

.type__item {
	position: relative;
  margin-left: 64px;
  margin-right: 40px;
	cursor: pointer;
}

.type__item:before {
	content: '';
	position: absolute;
	top: -6px;
	left: -62px;
	width: 35px;
	height: 35px;

	border: 2px solid rgb(68, 68, 68);
	border-radius: 50%;
}

.type__item:after {
	content: '';
	position: absolute;
	top: 6px;
	left: -50px;
	width: 16px;
	height: 16px;

	border-radius: 50%;
	background: #62d1ba;
	opacity: 0;
	transition: .2s;
}

.type__radio:checked + .type__item:after {
	opacity: 1;
}

@media (min-width: @tablet-width) {
  .type {
    display: flex;
  }

  .type__legend {
    margin: 0;
    padding: 0;
    width: 167px;


  }

  .type__block-wrapper {
    display: flex;
    flex-direction: column;
  }

  .type__item {
    &:before {
    	content: '';
    	top: -6px;
    	left: -62px;
    	width: 35px;
    	height: 35px;
    }

    &:after {
    	content: '';
    	top: 6px;
    	left: -50px;
    	width: 16px;
    	height: 16px;
    }
  }

}
