.type {
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-bottom: 10px;
    padding-left: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 114px;
    padding-right: 114px;
  }
}

.type__legend {
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 3px;
    width: 167px;
  }

  @media (min-width: @desktop-width) {
    width: 110px;
  }
}

.type__wrapper {
  display: block;

  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }
}

.type__block-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.type__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 64px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 36px;
    height: 36px;

    border: 2px solid rgb(68, 68, 68);
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 12px;
    width: 16px;
    height: 16px;

    border-radius: 50%;
    background: #62d1ba;
    opacity: 0;
    transition: 0.2s;
  }

  &:hover,
  &:focus {
    &::before {
      border: 2px solid @seafoam-blue;
    }
  }

  &:active {
    &::before {
      border: 2px solid @white-two;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 80px;

    &::before {
      content: "";
      top: -14px;
      left: 0;
      width: 48px;
      height: 48px;
    }

    &::after {
      content: "";
      top: 2px;
      left: 16px;
      width: 20px;
      height: 20px;
    }
  }
}

.type__radio {
  position: absolute;
  left: -9999px;
}

.type__radio:checked + .type__item::after {
  opacity: 1;
}

.type__radio:focus + .type__item::before {
  border: 2px solid @seafoam-blue;
}
