@import "mixins.less";
@import "variables.less";

body {
  font-family: "Open Sans", "Tahoma", sans-serif;

  margin: 0 auto;
  width: @mobile-width;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.visually-hidden {
  .visually-hidden();
}

@import "blocks/button.less";
@import "blocks/page-header.less";
@import "blocks/site-list.less";
@import "blocks/user-list.less";
@import "blocks/page-main.less";
@import "blocks/links.less";
@import "blocks/week-product.less";
@import "blocks/properties.less";
@import "blocks/odds.less";
@import "blocks/reviews.less";
@import "blocks/contacts.less";
@import "blocks/page-footer.less";
@import "blocks/socials.less";
@import "blocks/copyright.less";
@import "blocks/modal.less";
@import "blocks/size-form.less";
@import "blocks/page-content.less";
@import "blocks/catalog.less";
@import "blocks/product.less";
@import "blocks/production.less";
@import "blocks/page-form.less";
@import "blocks/feedback.less";
@import "blocks/type.less";
@import "blocks/multitype.less";
@import "blocks/data.less";
